// Custom common variables
@import '../../app-variables';

// Drawer navigation custom styles
$sidedrawer-header-image-size: 60;
$sidedrawer-header-image-offset-top: 40;
$sidedrawer-header-image-offset-bottom: 5;

.sidedrawer {
    &.sidedrawer-left {
        .sidedrawer-header-image {
            color: $background-dark;
            height: $sidedrawer-header-image-size;
            width: $sidedrawer-header-image-size;
            font-size: $sidedrawer-header-image-size;
            padding: 0;
            margin-bottom: $sidedrawer-header-image-offset-bottom;
            margin-top: $sidedrawer-header-image-offset-top;
            margin-left:30%; 
            
        }

        .footnote {
            color: rgba($ab-color, 0.5);
        }
    }

    .sidedrawer-header {
        background-color: #232323;
       

        .sidedrawer-header-brand {
            color: #ffffff;
            margin-left:20%; 
        }
    }

    .sidedrawer-content {
        background-color: #232323;
        font-size: 20px;
      
    }
}
.sidedrawer-list-item{padding-left:15}.sidedrawer-list-item Label{vertical-align:center;color:#ffffff}.sidedrawer-list-item .fa{width:20;margin-right:10}.sidedrawer-list-item.selected{background-color:#F8F8F8}.sidedrawer-list-item.selected Label{color:#3A53FF}
