@import 'my-drawer.component';

// Place any CSS rules you want to apply only on Android here.sidedrawer-list-item{padding-left:15}.sidedrawer-list-item Label{vertical-align:center;color:#ffffff}.sidedrawer-list-item .fa{width:20;margin-right:10}.sidedrawer-list-item.selected{background-color:#F8F8F8}.sidedrawer-list-item.selected Label{color:#3A53FF}
.sidedrawer-list-item{padding-left:15}.sidedrawer-list-item Label{vertical-align:center;color:#ffffff}.sidedrawer-list-item .fa{width:20;margin-right:10}.sidedrawer-list-item.selected{background-color:#F8F8F8}.sidedrawer-list-item.selected Label{color:#3A53FF}
