<ActionBar class="action-bar" actionBarHidden="true">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Mot de passe oublié"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Forgetpwd'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent >
      <StackLayout height='100%' backgroundColor='#232323'>
            <StackLayout height="30%" ><!-- Container entête-->
                <StackLayout horizontalAlignment="left" verticalAlignment="center" width="100%"  
                    class="layout-class overlay"  backgroundImage='~/images/salade.jpg'  verticalAlignment="center"  horizontalAlignment="center"  >
                <StackLayout height="100%" style='background-color: rgba(0,0,0,0.5)'>
                <StackLayout verticalAlignment="center" margin='20%' >
                    <image src='~/images/logo.png' width='350' height='350'></image>
                </StackLayout>
                </StackLayout>
            </StackLayout>
            </StackLayout><!--end Container entête-->

            <StackLayout height="50%" vertivalAlignement='center' ><!--container form-->
              
                <StackLayout  width="95%"  >
                    <label text="Mot de passe oublié ?" margin='3' fontSize='16' color="white" horizontalAlignment="center"></label>
                    <label text="Veuillez renseigner votre email pour récupérer votre mot de passe S'il vous plait" textWrap='true' margin='3' fontSize='14' color="white" horizontalAlignment="center"></label>
                    
                        <!-- login form container with email-->
                            <StackLayout class="form"  height='40%' backgroundColor="#FFFFFF" fontsize="12px" marginTop='20'>
                                <StackLayout class="input-field" paddingTop="10">
                                    <!--<Label text="Email" color="#636466" class="font-weight-bold m-b-5"></Label>-->
                                    <TextField  class="input" id="textEmail"  hint='Email'></TextField>
                                    <StackLayout class="hr-light"></StackLayout>
                                </StackLayout>
                
                                <Button class="btn cofRedButton" backgroundColor='green' color="white" text="Récupérer mon mot de passe" (tap)="login()"></Button>
                            </StackLayout>
                            <!-- End login form container with email-->
                        </StackLayout>
                    
                    </StackLayout>
                    <!-- container avec text-->
                        <StackLayout  color='white' height='10%'>
                            <GridLayout columns="*,2*" rows="auto" color='white' margin='0' padding='0'>
                                    <button text="Connexion?" horizontalAlignment="left" [nsRouterLink]="['/login']"  class="font-awesome"   style='background-color:transparent'  col="0" row="0"></button>
                                    <button text="Créer un compte"   horizontalAlignment="right" [nsRouterLink]="['/register']" style='background-color:transparent' col="1" row="0" ></button>
                            </GridLayout>
                        </StackLayout>
                        <!-- fin container avec text-->
                         <!--  last container voir la carte-->
                        <StackLayout height='10%'>
                            <button text="&#xf06e; Voir la carte" [nsRouterLink]="['/home']" class="font-awesome" width='50%' ></button>
                        </StackLayout>
                         <!-- end container-->
        </StackLayout>
    </GridLayout>
</RadSideDrawer>