<ActionBar class="" style='background-image:~/images/s1.jpg' actionBarHidden="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <StackLayout orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left" horizontalAlignment="center" class='overlay'>
    <!--<Image src="~/images/logo.svg" class="action-image" width='40' height='40'></Image>-->
</StackLayout>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Home'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent  >
        <StackLayout>
        <ScrollView >
            <StackLayout height='100%'><!--container-->
                 <StackLayout height="50%" ><!--Plat du jour container-->
                    <StackLayout horizontalAlignment="left" verticalAlignment="center" width="100%"  
                        class="layout-class overlay" backgroundImage='~/images/s1.jpg'  verticalAlignment="center"  horizontalAlignment="center"  >
                    <StackLayout height="100%" class='overlay-plat'>
                            <GridLayout columns="*,2*" rows="auto" >
                            <label text="&#xf0c9;" class="font-awesome" col="0" row="0" horizontalAlignment="left" marginTop="100px" marginLeft='10' (tap)="onDrawerButtonTap()"></label>
                            <label text="&#xf07a;" class="font-awesome" col="1" row="0" horizontalAlignment="right" marginTop="100px" marginRightt='10'  (tap)="addToCard()"></label>
                                          
                            </GridLayout>
                    <StackLayout [nsRouterLink]="['/detailmenu']">
                        <label text='Plat du jour' marginTop='10'></label>
                        <label for="" text="~~~ o ~~~" fontSize='10' ></label>
                        <!--<image src="~/images/s1.jpg"  width="100%" height="100%" horizontalAlignment="center" verticalAlignment="center"></image>-->
                        <label text='Salades au riz et au pamplemousse' textWrap = true fontWeight="bold" ></label>
                        <label  text="~~~ o ~~~" fontSize='10' ></label>
                        <label  text="3500 FCA" ></label>
                        
                        <image src='~/images/panier.png' width='80px' height="80px" marginleft="80%"></image>
                    </StackLayout>
                    </StackLayout>
                </StackLayout>
                </StackLayout>
               <!--End Plat du jour container-->
                
               <!--Star 4composants container-->
                <StackLayout  horizontalAlignment="center" heiht='50%'>
                    <!--salades et pates container-->
                    <Stacklayout orientation="horizontal"  height='50%'>
                        <!--salades container-->
                        <Stacklayout width="50%" height="100%" horizontalAlignment="left" verticalAlignment="center" [nsRouterLink]="['/listmenu']">
                            <StackLayout horizontalAlignment="left" verticalAlignment="center" width="100%" height="100%" 
                                  backgroundImage="~/images/s7.jpg" >
                            <StackLayout height='100%' width='100%' class='home-composant' verticalAlignment="center"  horizontalAlignment="center">
                                <!--<image src="~/images/s1.jpg"   width="100%" height="100%"  horizontalAlignment="center" verticalAlignment="center"></image>-->
                               <label text='Salades'  ></label>    
                            </StackLayout>
                        </StackLayout>
                         
                        </Stacklayout>
                        <!--Pates container-->
                        <Stacklayout width="50%" horizontalAlignment="right" verticalAlignment="center">
                            <StackLayout horizontalAlignment="right" verticalAlignment="center" width="100%" height="100%" 
                                class="layout-class  " backgroundImage="~/images/pates.jpeg" backgroundRepeat="no-repeat"  style='background-color:rgba(0,0,0,0.5)'>
                                <StackLayout height='100%' width='100%' class='home-composant' verticalAlignment="center"  horizontalAlignment="center">
                                    <!--<image src="~/images/s1.jpg"   width="100%" height="100%"  horizontalAlignment="center" verticalAlignment="center"></image>-->
                                   <label text='Pâtes'  ></label>    
                                </StackLayout>

                            </StackLayout>
                          
                        </Stacklayout>
                    </Stacklayout>
                    <!--smoothies et desserts container-->
                    <Stacklayout verticalAlignment="bottom" height="50%" width='100%' orientation="horizontal"  >
                        <!--smoothies container-->
                        <Stacklayout width="50%"  horizontalAlignment="left" verticalAlignment="center">
                            <StackLayout horizontalAlignment="left" verticalAlignment="center" width="100%" height="100%" 
                                class="layout-class" backgroundImage='~/images/smoo.jpg' backgroundRepeat="no-repeat">
                                <StackLayout height='100%' width='100%' class='home-composant' verticalAlignment="center"  horizontalAlignment="center">
                                    <!--<image src="~/images/s1.jpg"   width="100%" height="100%"  horizontalAlignment="center" verticalAlignment="center"></image>-->
                                   <label text='Smoothies'  ></label>
                                      
                                </StackLayout>
                            
                            </StackLayout>
                           
                        </Stacklayout>
                        <!--desserts container-->
                        <Stacklayout width="50%" horizontalAlignment="right" verticalAlignment="center">
                            <StackLayout horizontalAlignment="right" verticalAlignment="center" width="100%" height="100%" 
                                class="layout-class " backgroundImage='~/images/dessert.jpg' backgroundRepeat="no-repeat" >
                                <StackLayout height='100%' width='100%' class='home-composant' verticalAlignment="center"  horizontalAlignment="center">
                                    <!--<image src="~/images/s1.jpg"   width="100%" height="100%"  horizontalAlignment="center" verticalAlignment="center"></image>-->
                                   <label text='Boissons et Desserts' textWrap= true ></label>    
                                </StackLayout>
                                
                                <!--<image src="~/images/s4.jpg" width="100%" height="100%" horizontalAlignment="center" verticalAlignment="center"></image>-->
                            </StackLayout>
                            
                        </Stacklayout>
                    </Stacklayout>
                </StackLayout> 
            </StackLayout>
        </ScrollView>
    </StackLayout>
 </GridLayout>
</RadSideDrawer>
