.cardStyle{background-color:#3489db;color:#fff}.home-composant{background-color:rgba(0,0,0,0.5);text-align:center;color:white;font-size:20px}.overlay-plat{background-color:rgba(0,0,0,0.5);width:100%;padding:5;text-align:center;font-size:20px;color:white}.overlay{background-color:rgba(0,0,0,0.5)}
