<ActionBar class="" style="background-image:~/images/s1.jpg;" actionBarHidden="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="" text="MyMenu"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->

    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
   <!-- <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'MyMenu'"></MyDrawer>
    </StackLayout>-->
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent >
        <!--Container-->
        <Stacklayout style='background-image:~/images/s1.jpg;background-repeat:repeat-y;' >
            <Stacklayout class='overlay' style='height:100%' style='background-color:rgba(0,0,0,0.5)'>
                <!--container icone-->
                <GridLayout columns="*,2*" rows="auto" color='white' marginTop="90px">
                    <button text="&#xf060;" width='100px' class="font-awesome" style='background-color:transparent' fontSize="20px" col="0" row="0" horizontalAlignment="left" (tap)="onDrawerButtonTap()"></button>
                    <button text="&#xf07a;" width='100px'class="font-awesome" fontSize="20px" style='background-color:transparent' col="1" row="0" horizontalAlignment="right" (tap)="onDrawerButtonTap()"></button>
                             
                </GridLayout><!--continer icon end-->
            <Stacklayout>
                 <label for="" text="SAMA'SALADES" fontSize='20px' fontWeight='bold' style='text-align:center' color="white"></label>
            </Stacklayout>
            <!--First block-->
            <!--Second block-->            
            <Stacklayout margin='10'>
                <Stacklayout backgroundColor='white' padding='10' borderRadius='10' >
                    <Stacklayout>
                        <Stacklayout height='100%'>

                               
                            
                            </Stacklayout>
                    </Stacklayout>
                    </Stacklayout>
                </Stacklayout><!--END second block-->
            </Stacklayout><!--ENd block-->
        </Stacklayout><!--container END-->
    </GridLayout>

