<ActionBar class="action-bar" actionBarHidden="true">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Settings'"></MyDrawer>
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent >
        <!--Container-->
        <Stacklayout style='background-image:~/images/s1.jpg;background-repeat:repeat-y;' >
            <Stacklayout class='overlay' style='height:100%' style='background-color:rgba(0,0,0,0.5)'>
                <!--container icone-->
                <GridLayout columns="*,3*" rows="auto" color='white' marginTop="90px">
                    <button text="&#xf0c9;" width='100px' class="font-awesome" style='background-color:transparent' fontSize="20px" col="0" row="0" horizontalAlignment="left" (tap)="onDrawerButtonTap()"></button>
                    <button text="Paramètres" fontSize="20px" margin='0px' style='background-color:transparent' col="1" row="0" horizontalAlignment="left" ></button>
                    
                    <button text="&#xf07a;" width='100px' class="font-awesome" fontSize="20px" style='background-color:transparent' col="2" row="0" horizontalAlignment="right"></button>
                             
                </GridLayout><!--continer icon end-->

            <!--First block-->
            <!--Second block-->            
            <Stacklayout margin='0'>
                <Stacklayout backgroundColor='white'  >
                    <Stacklayout>
                        <Stacklayout height='100%'>
                            <Stacklayout style='margin:40px'>
                                <label text='&#xf2bd;  Compte' class='font-awesome'color='black' fontSize='18px'></label>
                                
                            </Stacklayout>
                            <StackLayout class="hr-light"></StackLayout>
                            <Stacklayout style='margin:40px'>
                                <label text='&#xf07a;  Historiques des commandes' class='font-awesome' color='black' fontSize='18px'></label>
                                
                            </Stacklayout>
                            <StackLayout class="hr-light"></StackLayout>
                            <Stacklayout style='margin:40px'>
                                <label text='&#xf07a;  Commande en cours' class='font-awesome' color='black' fontSize='18px'></label>
                                
                            </Stacklayout>
                            <StackLayout class="hr-light"></StackLayout>
                            <Stacklayout style='margin:40px' [nsRouterLink]="['/support']">
                                <label text="&#xf059;   Aide" class='font-awesome' color='black' fontSize='18px' ></label>
                                
                            </Stacklayout>
                            <StackLayout class="hr-light"></StackLayout>
                
                            
                        </Stacklayout>
                    </Stacklayout>
                    </Stacklayout>
                </Stacklayout><!--END second block-->
            </Stacklayout><!--ENd block-->
        </Stacklayout><!--container END-->
    </GridLayout>

</RadSideDrawer>