<ActionBar class="" style='background-image:~/images/s1.jpg;' actionBarHidden="true">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="" text="ListMenu"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<!--<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    Use the tkDrawerContent directive to display the content of the app drawer on this page.
   
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'ListMenu'"></MyDrawer>
    </StackLayout> -->
 
    <GridLayout class="page page-content" tkMainContent >
        <!--Container-->
        <Stacklayout style='background-image:~/images/s1.jpg;background-repeat:repeat-y' >
            <Stacklayout class='overlay' style='height:100%' style='background-color:rgba(0,0,0,0.5)'>
                <!--container icone-->
                <GridLayout columns="*,2*" rows="auto" color='white' marginTop="65px">
                    <button text="&#xf060;" width='100px' class="font-awesome" style='background-color:transparent' fontSize="20px" col="0" row="0" horizontalAlignment="left" (tap)="goBack()"></button>
                    <button text="&#xf07a;" width='100px'class="font-awesome" fontSize="20px" style='background-color:transparent' col="1" row="0" horizontalAlignment="right"></button>
                                      
                </GridLayout><!--continer icon end-->
            <Stacklayout>
                 <label for="" text='SALADES' fontSize='20px' fontWeight='bold' style='text-align:center' color="white"></label>
            </Stacklayout>
            <!--First block-->
            <Stacklayout margin='10'>
                <Gridlayout columns='auto,100' rows='auto,auto' width="100%" backgroundColor='white' padding='10' borderRadius='10' margin='10' [nsRouterLink]="['/mymenu']" >
                    <Label color='black'col='0' row='0'  paddingLeft="5"  fontSize="16px" text="SAMA SALADE"></Label>
                    <Label class="" fontSize='16' col='0' row='1' width="80%" marginLeft="5" text="Composer ma propre salade"></Label>
                    <!--<Label class="fa" col="1" row='0' text="&#xf054;" style='position:absolute;margin-left:25px' color="green"></Label >-->
                </Gridlayout>
            </Stacklayout><!--End first block-->

            <!--Second block-->            
            <Stacklayout margin='10'>
                <Stacklayout backgroundColor='white' padding='10' borderRadius='10' >
                    <Stacklayout>
                        <Stacklayout height='50%' backgroundImage='~/images/s5.jpg' [nsRouterLink]="['/detailmenu']">
                            <Label color='black'col='0' row='0'  paddingLeft="5"  fontSize="16px" text="Plat du jour"></Label>
                            <label  text="3500 FCA" padding="5px" horizontalAlignment="right" color='white' backgroundColor="green" ></label>
                            <image src='~/images/panier.png' width='80px' height="80px" horizontalAlignment="right" marginTop="45%" ></image>
                        </Stacklayout>
                         <Stacklayout>
                            <label textWrap='true' fontSize='10px' text='lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum'></label>
                        </Stacklayout>
                    </Stacklayout>
                         <label text="~~~~ o ~~~~" color='green' horizontalAlignment="center"></label>
                    <Stacklayout width="100%" height="40%">
                        <ScrollView orientation="horizontal" sdkExampleTitle sdkToggleNavButton>
                                <GridLayout class="m-1" columns="auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto">
                                    <Stacklayout class="m-1"  width="150" height="100" col="0"  [nsRouterLink]="['/detailmenu']">
                                        <Label   horizontalAlignment="center" text="Nom du plat"></Label>
                                        <Image src="~/images/s2.jpg" width="270" height="161"></Image>
                                    </Stacklayout>
                                    <Stacklayout width="150" height="100" class="m-1" col="1"  [nsRouterLink]="['/detailmenu']">
                                            <Label   horizontalAlignment="center" text="Nom du plat"></Label>
                                            <Image src="~/images/s8.jpg" width="270" height="161"></Image>
                                    </Stacklayout>
                                    <Stacklayout width="150" height="100" class="m-1" col="2"  [nsRouterLink]="['/detailmenu']">
                                            <Label   horizontalAlignment="center" text="Nom du plat"></Label>
                                            <Image src="~/images/s4.jpg" width="270" height="161"></Image>
                                    </Stacklayout>
                                    <Stacklayout width="150" height="100" class="m-1" col="3"  [nsRouterLink]="['/detailmenu']">
                                            <Label   horizontalAlignment="center" text="Nom du plat"></Label>
                                            <Image src="~/images/s10.jpg" width="270" height="161"></Image>
                                    </Stacklayout>
                                    <Stacklayout width="150" height="100" class="m-1" col="4" [nsRouterLink]="['/detailmenu']">
                                            <Label   horizontalAlignment="center" text="Nom du plat"></Label>
                                            <Image src="~/images/s7.jpg" width="270" height="161"></Image>
                                    </Stacklayout>
                                </GridLayout>
                            </ScrollView>
                        </Stacklayout>
                    </Stacklayout>
                </Stacklayout><!--END second block-->
            </Stacklayout><!--ENd block-->
        </Stacklayout><!--container END-->
    </GridLayout>
