<ActionBar class="action-bar" actionBarHidden="true">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Register"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Register'"></MyDrawer>
    </StackLayout>
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout class="page page-content" tkMainContent >
      <StackLayout height='100%' backgroundColor='#232323'>
            <StackLayout height="30%" ><!--image container-->
                <StackLayout horizontalAlignment="left" verticalAlignment="center" width="100%"  
                    class="layout-class overlay"  backgroundImage='~/images/salade.jpg'  verticalAlignment="center"  horizontalAlignment="center"  >
                <StackLayout height="100%" style='background-color: rgba(0,0,0,0.5)'>
                <StackLayout verticalAlignment="center" margin='20%' >
                    <image src='~/images/logo.png' width='350' height='350'></image>
                </StackLayout>
            
                </StackLayout>
            </StackLayout>
            </StackLayout>
            <StackLayout height="50%" ><!--image container-->
                <ScrollView>
                <StackLayout  width="95%" >
                    <label text="Inscription" margin='3' fontSize='16' color="white" horizontalAlignment="center"></label>
                    <GridLayout columns="*,2*" rows="auto" color='white' margin='0' padding='0'>
                        <button text="&#xf082;"  class="font-awesome"  style='background-color:#3B5998' fontSize="16px" col="0" row="0"></button>
                        <button text="S'inscrire avec Facebook"  fontSize="16px"  style='background-color:#3B5998' col="1" row="0" ></button>
                    </GridLayout>
                    <GridLayout columns="*,2*" rows="auto" color='white' margin='0' padding='0'>
                        <button text="&#xf0d4;"  class="font-awesome"  style='background-color:#DB4437' fontSize="16px" col="0" row="0"></button>
                        <button text=" S'inscrire avec Google"  fontSize="16px" style='background-color:#DB4437' col="1" row="0" ></button>
                    </GridLayout>

                            <label text="Ou bien" margin='3' fontSize='16' color="white" horizontalAlignment="center"></label>
                        
                    <StackLayout class="form"  backgroundColor="#FFFFFF" fontsize="12px">
                        <StackLayout class="input-field" paddingTop="10">
                         <!--<Label text="Email" color="#636466" class="font-weight-bold m-b-5"></Label>-->
                            <TextField  class="input" id="textEmail"  hint='Email'></TextField>
                             <StackLayout class="hr-light"></StackLayout>
                                </StackLayout>
                            <StackLayout class="input-field">
                                 <!-- <Label text="Mot de passe" color="#636466" class="font-weight-bold"></Label>-->
                                <TextField secure="true" class="input" id="textPassword" hint='Mot de passe' ></TextField>
                                <StackLayout class="hr-light" color='white'></StackLayout>
                            </StackLayout>
                            <StackLayout class="input-field">
                                 <!-- <Label text="Mot de passe" color="#636466" class="font-weight-bold"></Label>-->
                                <TextField secure="true" class="input" id="textconfirmPassword" hint='Confirmer le mot de passe' ></TextField>
                                <StackLayout class="hr-light" color='white'></StackLayout>
                            </StackLayout>
                
                                <Button class="btn cofRedButton" backgroundColor='green' color="white" text="S'inscire" (tap)="register()"></Button>
                
                         </StackLayout>
                    </StackLayout>
                </ScrollView>
                    </StackLayout>
                        <StackLayout  color='white' height='10%'>
                            <GridLayout columns="*,2*" rows="auto" color='white' margin='0' padding='0'>
                                <button text="Mot de passe oublié?" horizontalAlignment="left" [nsRouterLink]="['/forgetpwd']"  class="font-awesome"   style='background-color:transparent'  col="0" row="0"></button>
                                <button text="Déjà un compte?"   horizontalAlignment="right" [nsRouterLink]="['/login']" style='background-color:transparent' col="1" row="0" ></button>
                            </GridLayout>
               </StackLayout>
            <StackLayout height='10%'>
                <button text="&#xf06e; Voir la carte" [nsRouterLink]="['/home']" class="font-awesome" width='50%' ></button>
            </StackLayout>
      </StackLayout>
    </GridLayout>
</RadSideDrawer>